<html>
    <head>
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
         integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
         crossorigin="anonymous">
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <div id="main">    
        <div id="heading"><h2><i class="fas fa-bookmark"></i>&nbsp; TODO App</h2></div>
        <button id="github-btn"><a href="">Github<i class="fab fa-github"></i></a></button>
        <form action="/create-item" method="POST">
            <!-- Description -->
            <div><input type="text" name="description"  placeholder="What are you planning!" required id="todo-description"></div>
            <!-- <input type="text" name="category" placeholder="Choose category" required id="todo-category"> -->
            <select id="category" name="category"  required id="todo-category">
                <option value="category">Choose category</option>
                <option value="Work">Work</option>
                <option value="Project">Project</option>
                <option value="Grocery">Grocery</option>
                <option value="Party">Party</option>
              </select>
            <input type="date" name="date"  placeholder="Choose date"  required id="todo-date">
            <div><button type="submit" id="btn-add"> <span><i class="fas fa-plus"></i></span> ADD TASK</button></div>
            <!-- <button type="submit" id="btn-delete">DELETE TASK</button> -->
        </form>
        <div>
            <ul> 
                <% for (let i of todo_list) { %>  
                     <li id="todo-list">
                         <div id="show-description"><input id="checkbox" type="checkbox"><span><%= i.description %></span></div>
                         <div id="show-category"><%= i.category %></div>
                         <div id="delete-button"><a href="/delete-item/?id=<%= i.id %>">
                            <i class="fas fa-trash"></i>
                        </a></div>
                    </li>
                    <p id="show-date"><i class="fas fa-calendar-week"></i> &nbsp;<%= i.date%></p>
                <% } %>
            </ul>
        </div>
        </div>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>